

body {
    background-image: url(./image/fond.jpeg);
    background-size: 3500px;

}
.carre{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
 
}
nav {
    background-image: url(/Users/carpentiermaxime/Documents/portfolio/fond.jpeg);
    background-size: 3000px;
}
li{
margin-right: 20px;
 font-size: 35px;
}
section {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}
h1{
    font-size: 26px;
    color: #636564;
}
.text{
    margin-right: 55px;
}
.text2 {
    margin-bottom: 50px;

    margin-right: 37px;
}
.trait {
    width: 2024px;
    height: 3px;
    background-color: #636564;
}